body {
    margin  : 0;
    overflow: hidden;
}

#overlayImage {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-image: url("../img/overlay2.png");
    opacity         : 0.5;
    z-index         : 9999;
    pointer-events: none;
}

#overlayContainer {
    position      : absolute;
    bottom        : 10px;
    left          : 10px;
    color         : white;
    font-family   : monospace;
    font-size     : 0.75rem;
    pointer-events: none;
}

.barContainer {
    background-color      : #005f5f;
    position              : relative;
    bottom                : 50%;
    width                 : 2vw;
    height                : 30vh;
    /* width              : 50px; */
    /* height             : 320px; */
    /* float              : left; */
    margin                : 10px;
}

.bar {
    background-color: #03e9e9;
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    height          : 80%;
    box-sizing      : border-box;
    transform-origin: bottom;
}

a {
    font-weight   : bolder;
    font-size     : 1rem;
    pointer-events: auto;
}